.aboutPageContainer {
  height: 100vh;
  color: var(--regular-text-color);
  overflow-x: hidden;
}
.background {
  background-color: var(--background-primary-color);
}
.aboutMessage {
  width: 400px;
}
.titleMessage {
  font-size: var(--regular-title-size);
  color: var(--regular-title-color);
}
.textMessage {
  font-size: var(--regular-text-size);
  color: var(--regular-text-color);
}
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 200px;
  background-color: var(--background-primary-color);
}
.aboutContainer img {
  height: 720px;
  width: 500px;
  border-bottom: 2px solid white;
}
.missionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 200px;

  background-color: var(--background-primary-color);
}
.missionContainer img {
  height: 500px;
}
.missionMessage {
  width: 400px;
}
.ourTeamContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-primary-color);
  padding-top: 200px;
}
.ourTeamCollaborator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.ourTeamCollaborator img {
  height: 720px;
  width: 500px;
}
.collaboratorPicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collaboratorPicture p {
  color: white;
}
@media (max-width: 1190px) {
  .titleMessage {
    font-size: var(--small-s-title-size);
  }
  .textMessage {
    font-size: var(--small-s-regular-text-size);
  }
  .aboutContainer img {
    height: 400px;
    width: 300px;
  }
  .missionContainer img {
    height: 250px;
  }
  .missionMessage p {
    font-size: var(--small-s-regular-text-size);
  }
  .missionMessage h2 {
    font-size: var(--small-s-title-size);
  }
  .collaboratorPicture img {
    height: 400px;
    width: 300px;
  }
}
@media (max-width: 832px) {
  .missionContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 760px) {
  .missionContainer {
    flex-direction: column-reverse;
  }
}
@media (max-width: 672px) {
  .aboutContainer img {
    display: none;
  }
  .missionMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 414px) {
  .aboutPageContent {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .textMessage {
    max-width: 250px;
  }
  .businessWomanPicture {
    display: none;
  }
}
