.menuPageContainer {
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  overflow-x: hidden;
}

.menuPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
