.featureContainer {
  height: 100%;
  background-color: var(--background-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  padding: 100px 0;
}

@media (max-width: 510px) {
  .featureContainer {
    padding: 0 20px;
  }
}
