.featureContainer {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
}
