.footerContainer {
  background-color: var(--background-primary-color);
  color: var(--regular-text-color);
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 70px;
  font-size: var(--component-footer-size);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 722px) {
  .footerContainer {
    font-size: var(--component-footer-small-size);
  }
}
