.GalleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--background-primary-color);
}

.GalleryContainer img {
  max-width: 600px;
  height: 700px;
}
@media (max-width: 1955px) {
  .GalleryContainer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 765px) {
  .GalleryContainer img {
    height: 300px;
    width: 100;
  }
  .img3 {
    width: 100%;
  }
}
@media (max-width: 245px) {
  .GalleryContainer img {
    width: 100%;
  }
}
