.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  gap: 20px;

  height: 600px;

  background-image: url(../img/burger-shop.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  filter: brightness(30%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 1;
  position: relative;
  padding-top: 200px;
}
.homeTitle {
  font-size: 90px;
}
.homeText {
  text-align: center;
  font-size: 26px;
}
