.menuContainer {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: var(--component-menu-size);

  background-color: var(--background-primary-color);
  color: var(--regular-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;

  padding-top: 100px;
  padding-bottom: 100px;
  cursor: pointer;
}
.menuContent:hover {
  color: var(--regular-title-color);
}
.noDecoration {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 722px) {
  .menuContainer {
    font-size: var(--component-menu-small-size);
  }
}
