.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.menuTitle {
  display: flex;
  justify-content: center;
  color: var(--regular-title-color);
}
.infoFood {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  border-bottom: 3px dotted rgb(175, 175, 175);
}
.foodName h3 {
  font-size: var(--small-s-title-size);
}
.foodName h4 {
  color: rgb(175, 175, 175);
}

.price {
  font-size: var(--small-s-title-size);
}
