.navbarContainer {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;

  z-index: 1;
  position: relative;
}
.imgNavBar {
  height: 80px;
  width: 90px;
}
.img1 {
  padding-left: 50px;
  cursor: pointer;
}
.img2 {
  padding-right: 50px;
  cursor: pointer;
}
