.navbarContainer {
  display: flex;
  flex-direction: column;
}
.navbarMenu {
  color: var(--regular-text-color);
  position: absolute;
  z-index: 2;
  right: 35px;
  top: 60px;
  background-color: var(--component-navbarMenu-background-color);
  margin-top: 10px;
  padding: 0px 20px;
  text-align: center;
}
.navbarMenu h3 {
  cursor: pointer;
}
.navbarMenu h3:hover {
  color: var(--component-navbarMenu-hover-color);
}
.navbarIcons {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-between;

  z-index: 1;
  position: relative;
}
.imgNavBar {
  height: 80px;
  width: 90px;
}
.img1 {
  padding-left: 50px;
  cursor: pointer;
}
.img2 {
  padding-right: 50px;

  cursor: pointer;
}
.noDecoration {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 722px) {
  .homeTitle {
    font-size: 36px;
  }
  .navbarIcons img {
    width: 40px;
    height: 40px;
  }
}
